@use './reset.scss';
@use './variables/globall.scss';
@use './themes/light.scss';
@use './themes/dark.scss';


/* 16px - 1 rem*/
/* 10px - 0.625 rem*/
/* теперь 10px = 0.1rem */
html {
  font-size: 62.5%;
}

.app {
  min-height: 100vh;

  font: var(--font-m);

  background-color: var(--bg-color);
  color: var(--primary-color); 
}