@use './reset';
@use './variables/globall';
@use './themes/light';
@use './themes/dark';


/* 16px - 1 rem */

/* 10px - 0.625 rem */

/* теперь 10px = 0.1rem */
html {
  font-size: 62.5%;
}

body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--inverted-primary-color); 
}

.page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.navbar {
  grid-column: 1/-1;
  align-content: center;
}

.main {
  grid-column: 2/-1;
  height: 100%;
  padding: 2rem;
}