// @use '../../../../app/styles/index.scss';

.sidebar {
  grid-column: 1/1;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  position: relative;
  background-color: var(--inverted-bg-color);
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.collapsebtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }
}