.loginform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls {
  display: flex;
  justify-content:space-between;
}

.message {
  flex-grow: 1;
}

.loginbtn {
  margin-left: auto;
}