// @use '../../../app/styles/index.scss';

.app-link, 
.app-link:link,
.app-link:visited {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--bg-color);
}

.app-link:hover {
  background-color: var(--bg-color);
  color: var(--inverted-bg-color);
}
