 @use '../../../app/styles/index.scss';

.applink, 
.applink:link,
.applink:visited {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  text-decoration: none;
}


.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.red {
    color: #ff0000;
}

.applink:hover {
  background-color: var(--bg-color);
  color: var(--inverted-bg-color);
}