h1 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.3;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4;
}

h5 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

h6 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}